services:
  cadai:
    build:
      context: .
      dockerfile: Dockerfile
    image: cadai-dev:latest
    working_dir: /workspace
    volumes:
      - ./:/workspace
      - cargo-registry:/usr/local/cargo/registry
      - cargo-git:/usr/local/cargo/git
      - rustup:/usr/local/rustup
      - pnpm-store:/root/.local/share/pnpm/store
    environment:
      CARGO_HOME: /usr/local/cargo
      RUSTUP_HOME: /usr/local/rustup
      PNPM_HOME: /root/.local/share/pnpm
      WEBKIT_DISABLE_COMPOSITING_MODE: "1"
    ports:
      - "1420:1420"
      - "4173:4173"
    tty: true
    stdin_open: true

volumes:
  cargo-registry:
  cargo-git:
  rustup:
  pnpm-store:
